body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

header {
  padding: 1em;
  background-color: #34495e;
  color: #fff;
}

.title {
  margin: auto auto;
  display: inline-block;
}

.subtitle {
  float: right;
}

.header-link:link, .header-link:visited {
  color: #fff;
  text-decoration: none;
}

.header-link:hover {
  color: #dadada;
}

.card {
  background-color: #eee;
  padding: .5em;
  margin: 1em;
}

.stats-container {
  width: 50%;
}

.search-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1em auto;
  height: 50%;
}

.search-form {
  position: relative;
}

.search-container {
  width: 40%;
  margin: 4em auto;
  background-color: #e2e2e2;
  border-radius: 2px;
  display: block;
}

.input-summoner {
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #696969;
  color: #000;
  height: 2em;
  width: 100%;
  padding: .3em;
  font-size: 1.2em;
  display: block;
}

.input-region {
  position: absolute;
  top: 0;
  right: 40px;
  margin: 1em auto;
  height: 2em;
}

.summoner-info {
  display: inline-block;
  margin: 1em;
}

.search-results-container {
  width: 70%;
  margin: auto auto;
}

.winning-team {
  border: 5px solid green;
}

.blue-team {
  box-sizing: border-box;
  width: 50%;
  display: inline-block;
  background-color: #79d7e7;
}

.red-team {
  box-sizing: border-box;
  width: 50%;
  display: inline-block;
  text-align: right;
  background-color: #fa6868;
}
