/*
  Styling needs a lot of cleanup/organization. I've seen a pattern where css is stored more
  locally to components. e.g. the `Match` component would move into a `Match/` directory
  with a corresponding `Match.css` file. Worth considering.

  Also redo 90% of this with flexbox as a learning exercise.
*/

/* Global Styles */

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

header {
  padding: 1em;
  background-color: #34495e;
  color: #fff;
}

.title {
  margin: auto auto;
  display: inline-block;
}

.subtitle {
  float: right;
}

.header-link:link, .header-link:visited {
  color: #fff;
  text-decoration: none;
}

.header-link:hover {
  color: #dadada;
}

.card {
  background-color: #eee;
  padding: .5em;
  margin: 1em;
}

/* Search Styles */

@keyframes search-actions {
  from { top: 100px; }
}

.search-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1em auto;
  height: 50%;
  animation-name: search-actions;
  animation-duration: .8s;
}

.search-form {
  position: relative;
}

.search-container {
  width: 40%;
  margin: 4em auto;
  background-color: #e2e2e2;
  border-radius: 2px;
  display: block;
}

.input-summoner {
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #696969;
  color: #000;
  height: 2em;
  width: 100%;
  padding: .3em;
  font-size: 1.2em;
  display: block;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.input-region {
  position: absolute;
  top: 0;
  right: 40px;
  margin: 1em auto;
  height: 2em;
  animation-name: search-actions;
  animation-duration: .6s;
}

/* Search Result Styles */

.summoner-info {
  display: inline-block;
  margin: 1em;
}

.search-results-container {
  width: 70%;
  margin: auto auto;
}

.match {
  height: 8em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.match-left {
  height: 120px;
}

.match-champion {
  height: 100%;
  display: inline-block;
}

.match-summoner-spells-container {
  height: 100%;
  display: inline-block;
}

.summoner-spell {
  height: 50%;
  display: block;
}

.win {
  background-color: #7ccb73;
}

.loss {
  background-color: #de8484;
}

.match-summoner-stats, .items-container, .match-timestamps-container {
  margin: auto auto;
}

.match-summoner-stats {
  font-size: 1.3em;
}

.items-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
}

.item-img {
  height: 50px;
  width: 50px;
}
